body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  min-width: fit-content;
  text-align: left;
  background-color: #edf1ff;
  overflow-x: hidden;
  width: 100%;
  text-align: center;
}

h1,
body {
  font-family: "open_sansregular";
}
p,
label,
input.btn {
  font-family: "montserratbold";
}
.form-control {
  font-family: "montserratregular";
}
#header {
  font-size: 1.5rem;
  text-transform: capitalize;
}
p {
  font-weight: 500;
  line-height: 2rem;
}
.flex--row p {
  font-size: 1.3rem;
}
a {
  color: #212121;
  font-weight: 600;
}
.footer {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
}

.main--section {
  display: inline-block;
  height: 30rem;
  border-radius: 2rem;
  width: 50rem;
  margin-top: 5rem;
  background-color: #97b7d8;
  padding: 1.5rem;
  color: #1f211f;
}
.flex--div {
  display: flex;
}
.flex--div > div:first-child {
  flex: 1;
  padding-right: 2rem;
  padding-top: 2rem;
  border-right: 1px solid #1f211f;
}

.flex--div > div {
  flex: 3;
}
.topline {
  display: block;
  height: 1rem;
  width: 100%;
  background-color: #423142;
}
.form--group {
  display: flex;
  margin-bottom: 1rem;
  padding-left: 0;
}
.form--group > label {
  flex: 1;
  padding-left: 0;
  margin-left: 0;
  margin-right: 1rem;
}
.form--group > input {
  flex: 3;
}
.flex--row {
  padding-left: 1rem;
}
.flex--row form .form--group:nth-child(5) select {
  padding-right: 7rem;
}
.flex--row form .form--group:nth-child(5) label {
  margin-right: 16rem;
}
.form--control {
  border: none;
  box-shadow: inset 0 1px 0 hsl(224, 84%, 74%);
  box-shadow: 0 2px 0 hsl(0, 4%, 100%, 0.15);
  color: #1a1429;
  margin: 0;
  height: 1.5rem;
  background-color: #6e8aa7;
}
input:focus,
.form-control:focus {
  outline: none !important;
}
.btn--mine {
  border-radius: 10px;
  height: 2.2rem;
  border: none;
  font-size: 1.2rem;
  background-color: #423142;
  color: #83d0d4;
}
.btn--mine:hover {
  cursor: pointer;
}

.btn--mine:focus .btn--mine:visited {
  background-color: #1f211f;
  color: #fff;
}
